.footer {
  background-color: var(--primary);
  color: #000;
  font-family: var(--font-heading);
  padding: 14px 16px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.02em;

  text-align: center;
}
