/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import "./styles/theme.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-body);
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

button {
  font-family: var(--font-body);
}

/* .footer {
  background-color: var(--primary);
  color: #000;
  text-align: center;
  padding: 12px 16px;
  font-size: 0.9rem;
} */

.footer {
  background-color: var(--primary);
  color: #000;
  font-family: var(--font-heading);
  padding: 14px 16px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.02em;

  text-align: center;
}
